<main
  class='h-100 d-flex flex-column justify-content-center align-items-center m-auto'
>
  {{#if error}}
    <div class='alert alert-danger'>{{error}}</div>
  {{/if}}

  {{#if message}}
    <div class='alert alert-primary'>{{message}}</div>
  {{/if}}

  <div class='card shadow w-100'>
    <div class='card-body'>
      <h1 class='title'>Register</h1>

      <form action='/register' method='post' autocomplete="off">
        <div class='mb-3'>
          <label class='form-label'>Username</label>
          <input name='username' class='form-control' required />
        </div>

        <div class='mb-3'>
          <label class='form-label'>Password</label>
          <input
            name='password'
            type='password'
            class='form-control'
            required
          />
        </div>

        <div class='mb-3'>
          <label class='form-label'>Confirm password</label>
          <input
            name='confirmPassword'
            type='password'
            class='form-control'
            required
          />
        </div>

        <button class='btn btn-primary w-100'>Create an account</button>
      </form>
    </div>
  </div>

  <a class='mt-3' href='/login'>I already have an account</a>
</main>

<style>
main {
  width: 25%;
}

@media(max-width: 992px) {
  main {
    width: 100%;
  }
}
</style>